{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1> Hi {{ user.username }}</h1>
    {{ wtf.quick_form(form, enctype="multipart/form-data") }}
    <p> <br><br><br><br><br><br><br><br>Autograder is in beta. <br>
    
      It debuted semester 2 2019.<br>
      When you find a bugs, let the teacher know.<br><br>

      In some cases, it is possible to fool the autograder.<br>
      <b>All autograder results are subject to overturn upon further review</b><br></p>
      
      
{% endblock %}
